class CfgSkeletons
{
	#include "\ats\trains\cfgSkeletons.hpp"
	class a2_locomotive : Default
	{
		skeletonInherit = "Default";
		skeletonBones[]=
		{
			"glass1","damageHide",
			"glass2","damageHide",
			"glass3","damageHide",
			"glass4","damageHide",
			"glass5","damageHide",
			"glass6","damageHide",
			
			//"bogie1","",
			//"bogie2","",
			
			"wheel1","",
			"wheel2","",
			"wheel3","",
			"wheel4",""
		};
	};
};


class CfgModels
{
	#include "\ats\trains\cfgModels.hpp"
	class a2_locomotive: Default
	{
		skeletonName="a2_locomotive";
		sectionsInherit = "Default";
		sections[]=
		{
			"Camo1",
			"glass1",
			"glass2",
			"glass3",
			"glass4",
			"glass5",
			"glass6",
			"Light_m",
			"Light_l",
			"Light_r",
			"Light_l_red",
			"Light_r_red",
			"Light_back_l",
			"Light_back_r",
			"Light_back_m,",
			"Light_back_l_red",
			"Light_back_r_red"
		};

		class Animations: Animations
		{
			//Glass Damage START
			class Glass1_destruct
			{
				type="hide";
				selection="glass1";
				source="HitGlass1";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.99999;
			};
			class Glass2_destruct: Glass1_destruct {selection="glass2";source="HitGlass2";}; // Inherits from the the glass 1, only the selection and the source will be changed
			class Glass3_destruct: Glass1_destruct {selection="glass3";source="HitGlass3";};
			class Glass4_destruct: Glass1_destruct {selection="glass4";source="HitGlass4";};
			class Glass5_destruct: Glass1_destruct {selection="glass5";source="HitGlass5";};
			class Glass6_destruct: Glass1_destruct {selection="glass6";source="HitGlass6";};
			//Glass Damage END
			
			//Wheels START
			class Wheel1
			{
				type="rotationX";
				source="Wheels_source";
				selection="wheel1";
				axis="axel1";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class Wheel2: Wheel1
			{
				selection="wheel2";
				axis="axel2";
			};
			class Wheel3: Wheel1
			{
				selection="wheel3";
				axis="axel3";
			};
			class Wheel4: Wheel1
			{
				selection="wheel4";
				axis="axel4";
			};
			//Wheels END
			
			/*class Bogie1
			{
				type="rotationY";
				source="Bogie1_source";
				selection="Bogie1";
				axis="Bogie1_axis";
				memory=1;
				sourceAddress="clamp";
				minValue=0;
				maxValue=1;
				angle0=rad -15;
				angle1="rad 15";
			};
			
			class Bogie2: Bogie1
			{
				source="Bogie2_source";
				selection="Bogie2";
				axis="Bogie2_axis";
			};*/
		};
	};
	class a2_locomotive_wreck: Default
	{
		sectionsInherit = "";
		sections[]={"Camo1"};
		
		class Animations {};
	};
};